<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <alias name="defaultExerciseConverter" alias="exerciseConverter"/>
    <bean id="defaultExerciseConverter" class="progressa.progressaspring.converters.exercise.ExerciseConverter"/>

    <alias name="defaultExerciseReverseConverter" alias="exerciseReverseConverter"/>
    <bean id="defaultExerciseReverseConverter" class="progressa.progressaspring.converters.exercise.ExerciseReverseConverter"/>

    <alias name="defaultSetConverter" alias="setConverter"/>
    <bean id="defaultSetConverter" class="progressa.progressaspring.converters.set.SetConverter"/>

    <alias name="defaultSetReverseConverter" alias="setReverseConverter"/>
    <bean id="defaultSetReverseConverter" class="progressa.progressaspring.converters.set.SetReverseConverter"/>

    <alias name="defaultWorkoutConverter" alias="workoutConverter"/>
    <bean id="defaultWorkoutConverter" class="progressa.progressaspring.converters.workout.WorkoutConverter"/>

    <alias name="defaultWorkoutReverseConverter" alias="workoutReverseConverter"/>
    <bean id="defaultWorkoutReverseConverter" class="progressa.progressaspring.converters.workout.WorkoutReverseConverter"/>

</beans>